.grid {
    display: block;
    position: relative;
    margin-right: -20px;
}
.grid:after {
    clear: both;
    content: "";
    display: block;
}
.grid--flush {
    margin-bottom: -20px;
}
.grid__item {
    float: left;
    margin: 0 0 20px 0;
    padding: 0 20px 0 0;
    box-sizing: border-box;
}
.grid--reverse > .grid__item {
    float: right;
}
.grid--tight {
    margin-right: 0;
}
.grid--tight > .grid__item {
    margin: 0;
    padding: 0;
}
.grid > .grid__item--reverse {
    float: right;
}
.grid--flex {
    display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.grid--flex:after {
    content: none;
}
.grid--flex--flex-start {
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
}
.grid--flex--flex-end {
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}
.grid--flex--center {
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
}
.grid--flex--space-between {
    -webkit-justify-content: space-between;
    -ms-flex-pack: justify;
    justify-content: space-between;
}
.grid--flex--space-around {
    -webkit-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}
.grid--flex > .grid__item {
    width: initial;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
}
.grid--gutter-5.grid {
    margin-right: -5px;
}
.grid--gutter-5.grid--flush {
    margin-bottom: -5px;
}
.grid--gutter-5.grid .grid__item {
    margin: 0 0 5px 0;
    padding: 0 5px 0 0;
}
.grid--gutter-10.grid {
    margin-right: -10px;
}
.grid--gutter-10.grid--flush {
    margin-bottom: -10px;
}
.grid--gutter-10.grid .grid__item {
    margin: 0 0 10px 0;
    padding: 0 10px 0 0;
}
.grid--gutter-15.grid {
    margin-right: -15px;
}
.grid--gutter-15.grid--flush {
    margin-bottom: -15px;
}
.grid--gutter-15.grid .grid__item {
    margin: 0 0 15px 0;
    padding: 0 15px 0 0;
}
.grid--gutter-20.grid {
    margin-right: -20px;
}
.grid--gutter-20.grid--flush {
    margin-bottom: -20px;
}
.grid--gutter-20.grid .grid__item {
    margin: 0 0 20px 0;
    padding: 0 20px 0 0;
}
.grid--gutter-25.grid {
    margin-right: -25px;
}
.grid--gutter-25.grid--flush {
    margin-bottom: -25px;
}
.grid--gutter-25.grid .grid__item {
    margin: 0 0 25px 0;
    padding: 0 25px 0 0;
}
.grid--gutter-30.grid {
    margin-right: -30px;
}
.grid--gutter-30.grid--flush {
    margin-bottom: -30px;
}
.grid--gutter-30.grid .grid__item {
    margin: 0 0 30px 0;
    padding: 0 30px 0 0;
}
.grid--gutter-35.grid {
    margin-right: -35px;
}
.grid--gutter-35.grid--flush {
    margin-bottom: -35px;
}
.grid--gutter-35.grid .grid__item {
    margin: 0 0 35px 0;
    padding: 0 35px 0 0;
}
.grid--gutter-40.grid {
    margin-right: -40px;
}
.grid--gutter-40.grid--flush {
    margin-bottom: -40px;
}
.grid--gutter-40.grid .grid__item {
    margin: 0 0 40px 0;
    padding: 0 40px 0 0;
}
.grid--gutter-45.grid {
    margin-right: -45px;
}
.grid--gutter-45.grid--flush {
    margin-bottom: -45px;
}
.grid--gutter-45.grid .grid__item {
    margin: 0 0 45px 0;
    padding: 0 45px 0 0;
}
.grid--gutter-50.grid {
    margin-right: -50px;
}
.grid--gutter-50.grid--flush {
    margin-bottom: -50px;
}
.grid--gutter-50.grid .grid__item {
    margin: 0 0 50px 0;
    padding: 0 50px 0 0;
}
.full,
.three-thirds,
.four-quarters,
.four-fourths,
.five-fifths,
.six-sixths,
.ten-tenths {
    width: 100%;
}
.nine-tenths {
    width: 90%;
}
.five-sixths {
    width: 83.33333%;
}
.four-fifths,
.eight-tenths {
    width: 80%;
}
.three-fourths,
.three-quarters {
    width: 75%;
}
.seven-tenths {
    width: 70%;
}
.two-thirds,
.four-sixths {
    width: 66.66667%;
}
.three-fifths,
.six-tenths {
    width: 60%;
}
.one-half,
.two-quarters,
.two-fourths,
.three-sixths,
.five-tenths {
    width: 50%;
}
.five-twelfths {
    width: 41.66667%;
}
.two-fifths,
.four-tenths {
    width: 40%;
}
.one-third,
.two-sixths {
    width: 33.33333%;
}
.three-tenths {
    width: 30%;
}
.one-fourth,
.one-quarter {
    width: 25%;
}
.one-fifth,
.two-tenths {
    width: 20%;
}
.one-sixth {
    width: 16.66667%;
}
.one-tenth {
    width: 10%;
}
.hidden {
    display: none;
}
.clearfix .one-half:nth-child(2n+1),
.clearfix .one-third:nth-child(3n+1),
.clearfix .one-fourth:nth-child(4n+1),
.clearfix .one-quarter:nth-child(4n+1),
.clearfix .one-fifth:nth-child(5n+1),
.clearfix .one-sixth:nth-child(6n+1),
.clearfix .one-tenth:nth-child(10n+1) {
    clear: both;
    content: "";
    display: table;
}
@media only screen and (min-width: 1040px) {
    .l-full,
    .l-three-thirds,
    .l-four-quarters,
    .l-four-fourths,
    .l-five-fifths,
    .l-six-sixths,
    .l-ten-tenths {
        width: 100%;
    }
    .l-nine-tenths {
        width: 90%;
    }
    .l-five-sixths {
        width: 83.33333%;
    }
    .l-four-fifths,
    .l-eight-tenths {
        width: 80%;
    }
    .l-three-fourths,
    .l-three-quarters {
        width: 75%;
    }
    .l-seven-tenths {
        width: 70%;
    }
    .l-two-thirds,
    .l-four-sixths {
        width: 66.66667%;
    }

    .l-three-fifths,
    .l-six-tenths {
        width: 60%;
    }
    .l-one-half,
    .l-two-quarters,
    .l-two-fourths,
    .l-three-sixths,
    .l-five-tenths {
        width: 50%;
    }
    .l-five-twelfths {
        width: 41.66667%;
    }
    .l-two-fifths,
    .l-four-tenths {
        width: 40%;
    }
    .l-one-third,
    .l-two-sixths {
        width: 33.33333%;
    }
    .l-three-tenths {
        width: 30%;
    }
    .l-one-fourth,
    .l-one-quarter {
        width: 25%;
    }
    .l-one-fifth,
    .l-two-tenths {
        width: 20%;
    }
    .l-one-sixth {
        width: 16.66667%;
    }
    .l-one-tenth {
        width: 10%;
    }
    .l-hidden {
        display: none;
    }
    .l-clearfix .l-one-half:nth-child(2n+1),
    .l-clearfix .l-one-third:nth-child(3n+1),
    .l-clearfix .l-one-fourth:nth-child(4n+1),
    .l-clearfix .l-one-quarter:nth-child(4n+1),
    .l-clearfix .l-one-fifth:nth-child(5n+1),
    .l-clearfix .l-one-sixth:nth-child(6n+1),
    .l-clearfix .l-one-tenth:nth-child(10n+1) {
        clear: both;
        content: "";
        display: table;
    }
}
@media only screen and (max-width: 769px) {
    .m-full,
    .m-three-thirds,
    .m-four-quarters,
    .m-four-fourths,
    .m-five-fifths,
    .m-six-sixths,
    .m-ten-tenths {
        width: 100%;
    }
    .m-nine-tenths {
        width: 90%;
    }
    .m-five-sixths {
        width: 83.33333%;
    }
    .m-four-fifths,
    .m-eight-tenths {
        width: 80%;
    }
    .m-three-fourths,
    .m-three-quarters {
        width: 75%;
    }
    .m-seven-tenths {
        width: 70%;
    }
    .m-two-thirds,
    .m-four-sixths {
        width: 66.66667%;
    }
    .m-three-fifths,
    .m-six-tenths {
        width: 60%;
    }
    .m-one-half,
    .m-two-quarters,
    .m-two-fourths,
    .m-three-sixths,
    .m-five-tenths {
        width: 50%;
    }
    .m-five-twelfths {
        width: 41.66667%;
    }
    .m-two-fifths,
    .m-four-tenths {
        width: 40%;
    }
    .m-one-third,
    .m-two-sixths {
        width: 33.33333%;
    }
    .m-three-tenths {
        width: 30%;
    }
    .m-one-fourth,
    .m-one-quarter {
        width: 25%;
    }
    .m-one-fifth,
    .m-two-tenths {
        width: 20%;
    }
    .m-one-sixth {
        width: 16.66667%;
    }
    .m-one-tenth {
        width: 10%;
    }
    .m-hidden {
        display: none;
    }
    .m-clearfix .m-one-half:nth-child(2n+1),
    .m-clearfix .m-one-third:nth-child(3n+1),
    .m-clearfix .m-one-fourth:nth-child(4n+1),
    .m-clearfix .m-one-quarter:nth-child(4n+1),
    .m-clearfix .m-one-fifth:nth-child(5n+1),
    .m-clearfix .m-one-sixth:nth-child(6n+1),
    .m-clearfix .m-one-tenth:nth-child(10n+1) {
        clear: both;
        content: "";
        display: table;
    }
}
@media only screen and (max-width: 480px) {
    .s-full,
    .s-three-thirds,
    .s-four-quarters,
    .s-four-fourths,
    .s-five-fifths,
    .s-six-sixths,
    .s-ten-tenths {
        width: 100%;
    }
    .s-nine-tenths {
        width: 90%;
    }
    .s-five-sixths {
        width: 83.33333%;
    }
    .s-four-fifths,
    .s-eight-tenths {
        width: 80%;
    }
    .s-three-fourths,
    .s-three-quarters {
        width: 75%;
    }
    .s-seven-tenths {
        width: 70%;
    }
    .s-two-thirds,
    .s-four-sixths {
        width: 66.66667%;
    }
    .s-three-fifths,
    .s-six-tenths {
        width: 60%;
    }
    .s-one-half,
    .s-two-quarters,
    .s-two-fourths,
    .s-three-sixths,
    .s-five-tenths {
        width: 50%;
    }
    .s-five-twelfths {
        width: 41.66667%;
    }
    .s-two-fifths,
    .s-four-tenths {
        width: 40%;
    }
    .s-one-third,
    .s-two-sixths {
        width: 33.33333%;
    }
    .s-three-tenths {
        width: 30%;
    }
    .s-one-fourth,
    .s-one-quarter {
        width: 25%;
    }
    .s-one-fifth,
    .s-two-tenths {
        width: 20%;
    }
    .s-one-sixth {
        width: 16.66667%;
    }
    .s-one-tenth {
        width: 10%;
    }
    .s-hidden {
        display: none;
    }
    .s-clearfix .s-one-half:nth-child(2n+1),
    .s-clearfix .s-one-third:nth-child(3n+1),
    .s-clearfix .s-one-fourth:nth-child(4n+1),
    .s-clearfix .s-one-quarter:nth-child(4n+1),
    .s-clearfix .s-one-fifth:nth-child(5n+1),
    .s-clearfix .s-one-sixth:nth-child(6n+1),
    .s-clearfix .s-one-tenth:nth-child(10n+1) {
        clear: both;
        content: "";
        display: table;
    }
}
